streamlit
google-generativeai
opencv-python-headless
mediapipe
numpy
pandas
scikit-learn
tensorflow
torch
torchvision
Pillow
matplotlib
reportlab
joblib
xgboost
imbalanced-learn
python-dotenv
catboost
gdown
