fastapi
uvicorn[standard]
python-multipart

google-generativeai
gdown

numpy
pandas
scikit-learn
imbalanced-learn
joblib

tensorflow
torch
torchvision

opencv-python-headless
mediapipe
Pillow

matplotlib
plotly

reportlab

catboost
xgboost

python-dotenv
